altair
bertopic
gitpython
hdbscan
huggingface_hub
ipykernel
ipython
jupyter_client
kaleido
matplotlib
nbformat
numba
numpy
pandas
plotly
pyarrow
pytest
pytest-timeout
pyyaml
requests
scikit-learn
scipy
seaborn
sentence-transformers
shap
streamlit
torch
transformers
umap-learn
vaderSentiment
xgboost
